<article class="page-full">
  <header class="article-full__header">
    <h1 class="article-full__title">{{ 'Fil en direct'|t }}</h1>
  </header>
  <div id="elca-react-root" style="margin-top: 2rem;"></div>
</article>